include ../_misc/answers

section.page__section.section
  header.section__header
    h2.section__title.section__title_color_green Level 1
  div.section__body
    p.
      Здесь несколько теоретических вопросов, на которые нет однозначного ответа. С их помощью вы сможете в свободной форме рассказать нам о своем личном опыте в том или ином аспекте, а также проиллюстрировать рассказ примерами своих работ.
    ul.questions
      each item in questions
        li.questions__item.question
          div.question__title #{item.id}
          p.question__description #{item.question}
          if item.list
            ul.question__list
              each l in item.list
                li #{l.q}
                  div.question__answer
                    textarea.qustion__answer(name="", cols="100", rows="10") #{l.a}
          else
            div.question__answer
              textarea.qustion__answer(name="", cols="100", rows="10") #{item.answer}
