mixin productCard(product)
  li.product
    input.product__checkbox(id=`product-${product.id}` type="checkbox" disabled=product.ended checked=product.selected)

    label.product__card.card(for=`product-${product.id}`)
      article.card__wrapper
        header.card__header.heading
          p.card__category.card__category_state_default Сказочное заморское яство
          p.card__category.card__category_state_selected Котэ не одобряет?
          h2.card__title Нямушка 
          h3.card__subtitle #{product.name}
        ul.card__options.options
          li.options__item 
            span.options__count #{product.amount} 
            | порций
          if product.giftCount != 0
            li.options__item 
              span.options__count #{product.giftCount > 1 ? product.giftCount : ''} 
              | #{declination(product.giftCount)} в подарок
          if product.additionally
            li.options__item #{product.additionally}
        .card__image
        .card__weight 
          span #{product.weight}
          span кг
        footer.card__footer
          p.card__description.card__description_state_ended Печалька, #{product.name} закончился.
          p.card__description.card__description_state_default Чего сидишь? Порадуй котэ, 
            label.card__link(for=`product-${product.id}`) купи.
          p.card__description.card__description_state_selected #{product.description} 