mixin productCard(product)
  .product
    .product__card.card
      .card__body
        .card__header Сказочное заморское явство
        h2.card__title Нямушка 
        .card__composition #{product.name}
        ul.card__list
          li.card__item #{product.amount} порций
          li.card__item #{product.giftCount} #{declination(product.giftCount)} в подарок
        .card__weight #{product.weight}кг
    .product__footer
      .product__description Чего сидишь? Порадуй котэ, 
        label.card__link купи.